/* google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
/* header area */
header{
    background-color: #264653;
}
.h-frst-p{
    font-size: 14px;
    font-weight: 300;
}

header h2{
    font-size: 48px;
    font-weight: 600;
}
.h-scnd-p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
}
header button{
    color:#fff;
    background-color: #E76F51;
    padding: 10px 30px;
    border:0;
    border-radius: 5px;
}
/* Featured Bike area */
.featured_bike_title h2{
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
}
.featured_bike_title h4{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}
/* happy client area */
.happy-client-area h2{
    font-size: 48px;
    line-height: 72px;
    font-weight: 600;
    color:#0A0826;
}
.happy-client-area h2 span{
    color:#E76F51;
}


.happy-client-area .client-single{
    border:1px solid #DEDEDE;
    border-radius: 5px;
    padding: 38px;
}
.happy-client-area p{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.2px;
    color:#6C6C6C;
}
.happy-client-area h5{
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: 0.2px;
}
img.grayscale{
    filter: grayscale(1);
}
/* FAQ AREA */
.faq-area h2{
    font-weight: 600;
    font-size: 48px;
    line-height: 50px;
    color: #0D0925;
}
.faq-area h2 span{
    color: #E76F51;
}

/* accordian area */

.accordion-item button{
    font-size: 20px;
    font-weight: 500;
}
/* special offer area */
.special_offer_area h2{
    font-weight: 600;
    font-size: 48px;
    line-height: 50px;
}
.special_offer_area h1{
    font-size: 100px;
}


.bike_appliance_title h2{
    font-weight: 600;
    font-size: 48px;
    line-height: 50px;
    color: #0D0925;
}